.layout {
  display: flex;
  min-height: 100vh;
  background: var(--color-bg);
}

.main {
  flex: 1;
  min-width: 0;
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .main {
    margin-left: 260px;
  }
}
